/* page header */

.header {
    margin: 3em 0 5em;
}

.header h1 {
    font-size: 2.6em;
    text-align: center;
    font-weight: 700;
    margin: 0;
}

.header a, .header a:hover {
    text-decoration: none;
    color: #171717;
}

.header .author {
    font-family: 'Merriweather', serif;
    font-variant: small-caps;
    text-transform: lowercase;
    text-rendering: auto;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
}

.header .description {
    font-size: 1.2em;
    font-style: italic;
    text-align: center;
    margin-top: -0.3em;
}

body.article-detail > header h1 {
    font-size: 2.5em;
    font-style: italic;
    font-weight: 400;
    margin-bottom: -0.2em;
}

body.article-detail > header {
    margin-bottom: 3em;
}

/* page footer */

footer {
    margin: 3em 0;
}

footer .nav {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 3.5em;
}

footer .nav a {
    padding: 0 0.5em;
    font-size: 1.2em;
    text-decoration: none;
}

footer .about {
    border-top: 1px dashed #d2d2d2;
    padding: 2.2em 3em;
    font-size: 0.7em;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    -ms-column-gap: 2em;
    column-gap: 2em;
}

footer .copy {
    text-align: center;
    font-size: 0.7em;
    font-style: italic;
    margin-top: 1em;
}

footer .copy, footer .copy a {
    color: #8e8e8e;
}
