<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>
      ∿ Sinusoidal Engineering ∿
    </title>
    <link rel="alternate" href="http://localhost:8080/feed.xml" type="application/rss+xml" title="">
    <link rel="stylesheet" type="text/css" href="/css/main-dark.css"  id="dark-style">
    <link rel="stylesheet" type="text/css" href="/css/main-grey.css"  id="grey-style">
    <link rel="stylesheet" type="text/css" href="/css/main-red.css"   id="red-style">
    <link rel="stylesheet" type="text/css" href="/css/main-white.css" id="white-style">
    <link rel="shortcut icon" href="favicon.ico">
  </head>
  <body>
    <script>
     var THEMES = ["dark", "grey", "red", "white"];
     function setTheme(theme) {
         THEMES.forEach(function (t) {
             document.getElementById(t + "-style").disabled = t !== theme;
         })
     }
     var hours   = (new Date()).getHours();
     var isNight = hours >= 19 || hours < 7;
     var theme   = isNight ? "dark" : "white";
     setTheme(theme);
     console.log("Using theme based on time of day:", theme);
    </script>
    <div class="index">
      <a href="/" class="index-logo"></a>
      $body$
    </div>
  </body>
</html>
